In [35]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import matplotlib.pyplot as plt

import bitcoin.db as db
df = db.get_all_data_from_pas(pas=720)
df.describe()

2018-03-28 14:47:54,776 root         INFO     Load data from SQL.

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

,open,tw_sentiment,reddit_sentiment,google_sentiment,close,time,percent,up
count,44.000000,44.000000,44.000000,44.000000,44.000000,4.400000e+01,44.000000,44.000000
mean,7226.776136,0.054547,0.054987,0.019642,7160.168182,1.521235e+09,-0.771449,0.431818
std,714.154933,0.098669,0.034365,0.062617,649.615670,5.830113e+05,4.164022,0.501056
min,6160.010000,-0.126533,-0.014593,-0.085794,6176.600000,1.520272e+09,-10.443576,0.000000
25%,6708.592500,0.013516,0.028807,-0.034278,6677.517500,1.520738e+09,-3.247886,0.000000
50%,7080.650000,0.039113,0.052346,0.015167,7074.500000,1.521238e+09,-1.148028,0.000000
75%,7471.982500,0.056294,0.079627,0.059567,7453.302500,1.521730e+09,0.671452,1.000000
max,9322.010000,0.530768,0.137081,0.190463,9184.630000,1.522198e+09,9.928326,1.000000

In [36]:
import bitcoin.validation as val
result = val.how_many_up_and_down(df=df)
result.head()

n => median => 1

     n  side    percent
0  7.0   0.0 -26.963069
1  2.0   1.0  13.536295
2  2.0   0.0  -7.246191
3  1.0   1.0   9.437670
4  2.0   0.0  -4.827398

In [37]:
result.describe()

               n       side    percent
count  23.000000  23.000000  23.000000
mean    1.869565   0.478261  -1.273195
std     1.575504   0.510754   9.005039
min     1.000000   0.000000 -26.963069
25%     1.000000   0.000000  -4.926505
50%     1.000000   0.000000  -1.291680
75%     2.000000   1.000000   0.797487
max     7.000000   1.000000  20.889901

In [39]:
val.test_money_step(df=df, num=1)

2018-03-28 14:48:10,940 root         INFO     BUY
2018-03-28 14:48:10,941 root         INFO     SELL
2018-03-28 14:48:10,942 root         INFO     BUY
2018-03-28 14:48:10,944 root         INFO     SELL
2018-03-28 14:48:10,945 root         INFO     BUY
2018-03-28 14:48:10,947 root         INFO     SELL
2018-03-28 14:48:10,948 root         INFO     BUY
2018-03-28 14:48:10,949 root         INFO     SELL
2018-03-28 14:48:10,951 root         INFO     BUY
2018-03-28 14:48:10,952 root         INFO     SELL
2018-03-28 14:48:10,953 root         INFO     BUY
2018-03-28 14:48:10,954 root         INFO     SELL
2018-03-28 14:48:10,957 root         INFO     TEST From 2018-03-22 00:41:00 to 2018-03-28 02:40:00
2018-03-28 14:48:10,959 root         INFO     With prediction 999.29 euros
2018-03-28 14:48:10,963 root         INFO     Without prediction 877.75 euros