In [21]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import matplotlib.pyplot as plt

import bitcoin.db as db
df = db.get_all_data_from_pas(pas=500)
df.describe()

2018-03-28 14:14:37,029 root         INFO     Load data from SQL.

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

,open,tw_sentiment,reddit_sentiment,google_sentiment,close,time,percent,up
count,63.000000,63.000000,63.000000,63.000000,63.000000,6.300000e+01,63.000000,63.000000
mean,7223.094286,0.063361,0.058088,0.022232,7175.340159,1.521237e+09,-0.555302,0.365079
std,695.720701,0.069424,0.035126,0.059148,650.194424,5.778703e+05,3.494086,0.485320
min,6053.590000,-0.024729,-0.023345,-0.086034,6053.600000,1.520272e+09,-8.191840,0.000000
25%,6800.220000,0.028543,0.034897,-0.015985,6771.000000,1.520738e+09,-2.530133,0.000000
50%,7104.830000,0.053470,0.053134,0.016023,7110.020000,1.521239e+09,-0.636624,0.000000
75%,7415.490000,0.073478,0.082097,0.056610,7395.415000,1.521731e+09,1.088461,1.000000
max,9322.010000,0.361210,0.163680,0.190463,9108.920000,1.522200e+09,9.356597,1.000000

In [22]:
import bitcoin.validation as val
result = val.how_many_up_and_down(df=df)
result.head()

n => median => 2

     n  side    percent
0  7.0   0.0 -16.706912
1  1.0   1.0   2.991787
2  2.0   0.0 -11.155087
3  1.0   1.0   2.887754
4  1.0   0.0   0.096443

In [23]:
result.describe()

               n       side    percent
count  29.000000  29.000000  29.000000
mean    2.137931   0.482759  -1.062243
std     1.432384   0.508548   7.487472
min     1.000000   0.000000 -16.706912
25%     1.000000   0.000000  -6.497994
50%     2.000000   0.000000   0.096443
75%     3.000000   1.000000   2.991787
max     7.000000   1.000000  15.167529

In [28]:
val.test_money_step(df=df, num=1)

2018-03-28 14:15:18,019 root         INFO     BUY
2018-03-28 14:15:18,020 root         INFO     SELL
2018-03-28 14:15:18,022 root         INFO     BUY
2018-03-28 14:15:18,023 root         INFO     SELL
2018-03-28 14:15:18,024 root         INFO     BUY
2018-03-28 14:15:18,026 root         INFO     SELL
2018-03-28 14:15:18,027 root         INFO     BUY
2018-03-28 14:15:18,029 root         INFO     SELL
2018-03-28 14:15:18,030 root         INFO     BUY
2018-03-28 14:15:18,032 root         INFO     SELL
2018-03-28 14:15:18,033 root         INFO     BUY
2018-03-28 14:15:18,034 root         INFO     SELL
2018-03-28 14:15:18,035 root         INFO     BUY
2018-03-28 14:15:18,037 root         INFO     SELL
2018-03-28 14:15:18,038 root         INFO     BUY
2018-03-28 14:15:18,040 root         INFO     TEST From 2018-03-22 03:38:00 to 2018-03-28 03:20:00
2018-03-28 14:15:18,041 root         INFO     With prediction 1029.75 euros
2018-03-28 14:15:18,042 root         INFO     Without prediction 860.13 euros